* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: #FF0000;
}

/* banner */

#banner {
  min-height: 90vh;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image/studio3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-text {
  font-size: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 5px;
  padding-left: 13px;
}

.banner-underline {
  width: 250px;
  border: 1px solid #FFFFFF;
  margin: 10px auto 20px auto;
}

.banner-content {
  color: #FFFFFF;
  display: flex;
  padding-left: 13px;
}

a.text-white {
  padding-right: 50px;
}

#banner2 {
  min-height: 90vh;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image/promo3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* service */
#service {
  padding: 40px 0px 40px 0px;;
}

.title-text {
  
  padding-bottom: 45px;
  color: #FFFFFF;
display: flex;
flex-direction: row;
justify-content: center;
font-size: 25px;
}

#service1 {
  display: flex;
  justify-content: center;
  padding: 5px 5px 5px 5px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#service2 {
  display: flex;
  justify-content: center;
  padding: 45px 5px 5px 5px;
}

#banner3 {
  min-height: 90vh;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image/team2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* gallery */
#gallery {
  padding-top: 40px;
  padding-bottom: 40px;
}

#gallery1 {
  display: flex; 
}

.leftLeft {
  padding-left: 18%;
}

.middle {
  padding: 3%;
}
.rightRight {
  padding-right: 18%;
}

#gallery2 {
  padding-top: 3%;
  display: flex; 
}

#gallery3 {
  padding-top: 3%;
  display: flex; 
  background-color: #FF0000;
}

#banner4 {
  min-height: 90vh;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image/studio1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 /* events */
 #event {
   padding-top: 40px;
   padding-bottom: 40px;
 }
 
 #event1 {
   display: flex;
 }
 
 #banner5 {
   min-height: 90vh;
   background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image/studio2.jpg);
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
 /* community */
 #community {
   padding-top: 40px;
   padding-bottom: 40px;
 }
 
 #community1 {
   padding-top: 3%;
   display: flex;
 }

 .title-texts {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
 }
 
 /* contact */
 #contact {
   padding-top: 40px;
   padding-bottom: 40px;

 }
 
